.navbar, .navbar-static-top {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.container-fluid > .row-fluid {
    width: 100%;
    margin: 50px;
}
 .table-of-content {
    background-color: gray;
    position: fixed;

}

.table-of-content .toc {
  font-size: 0.9em;
}

.toc {
    background-color: orange;
    position: relative;
}

.article-content {
    background-color: lightgreen;
    /* margin: 0px 150px 0px; */
    /* padding-left: 200px; */
}